In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

data = pd.read_csv(r"C:\Users\gobus\Desktop\,\ML-AI-Blog\Machine Learning Full\ML Algorithms dataset\SocialNetworkAds.csv")
data['Gender'].replace('Male','0', inplace=True)
data['Gender'].replace('Female','1', inplace=True)
data.head()

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510      0   19            19000          0
1  15810944      0   35            20000          0
2  15668575      1   26            43000          0
3  15603246      1   27            57000          0
4  15804002      0   19            76000          0

In [34]:
x = data.iloc[:, [1,2,3]].values
y = data.iloc[:, 4].values

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [36]:
#Feature Scaling -> putting between -1 and 1
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [37]:
clf = GaussianNB()
clf.fit(x_train, y_train)

GaussianNB()

In [38]:
y_pred = clf.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [39]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[76,  3],
       [ 8, 33]], dtype=int64)

In [41]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93        79
           1       0.92      0.80      0.86        41

    accuracy                           0.91       120
   macro avg       0.91      0.88      0.89       120
weighted avg       0.91      0.91      0.91       120